@import "../bower_components/octave/octave";
@import "palette";
@import "font-faces";

@include def-font(default) {
    color: $black;
    font-family: "Museo", sans-serif;
}

@include def-font(blue) {
    color: $blue;
}

@include def-font(green) {
    color: $green;
}

@include def-font(huge) {
    font-size: 64px;
    line-height: 80px;
}

@include def-font(large) {
    font-size: 24px;
    line-height: 40px;
}

@include def-font(header) {
    font-family: "Cubano", sans-serif;
}

@include def-module(root) {
  border-top: 5px solid $orange;
  
  body {
    @include font(default);
    border-top: 2px solid $beige;
  }
}

@include def-module(main) {
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
  padding-top: 40px;

  @include def-module(double-dash) {
    float: left;
    width: 600px;
    border-top: 2px solid #E6E6E6;
    border-bottom: 2px solid #E6E6E6;
    height: 10px;
    margin-bottom: 20px;
  }
}

@include def-module(header) {
  @include clearfix;
  margin: 0 auto;
  width: 500px;
  margin-bottom: 40px;
  text-align: center;

  > img {
    display: block;
    float: left;
    width: 140px;
  }

  > a {
    @include font(blue huge header);
    display: block;
    float: left;
    width: 360px;
    margin-top: 18px;
  }

  @include def-module(social-links) {
    float: right;
    width: 360px;
    
    li {
        float: left;
        width: 20%;
    }
    
    img {
        display: block;
        width: 24px;
        height: 24px;
        margin: 0 auto;
    }
    
    img:hover, img:focus {
        opacity: 0.5;
    }
  }
}

@include def-module(personal-information) {
  float: left;
  width: 300px;
  padding-right: 20px;

  p {
    margin-bottom: 20px;
  }

  em {
    @include font(green);
  }

  a {
    @include font(blue underline);
  }
}

@include def-module(tweets) {
  float: left;
  width: 300px;
  padding-left: 20px;

  a {
    @include font(blue underline);
  }
}

html {
    @include module-inline(root);
    @include module-tree(main);
    @include module-tree(header);
    @include module-tree(personal-information);
    @include module-tree(tweets);
}

@media screen and (max-width: 599px) {
  .main {
    width: auto;
    padding: 20px 20px 0;
  }
  
  .header {
    > img {
      float: none;
      margin: 0 auto;
    }

    > a {
      font-size: 24px;
      line-height: 40px;
      float: none;
      width: auto;
      margin-top: 0;
    }
  }

  .social-links {
    float: none;
    width: auto;
  }

  .personal-information, .tweets {
    width: 100%;
    padding: 0;
  }

  .tweets iframe {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
