@import "../bower_components/octave/octave";
@import "palette";
@import "font-faces";

@include def-font(default) {
    font-size: 14px;
    color: $white;
    font-family: "Consolas", "Courier", monospace;
}

@include def-font(large) {
    font-size: 24px;
    line-height: 40px;
}

@include def-module(root) {
  background: url('/images/background.jpg') no-repeat top center;
  background-size: cover;
  height: 100%;

  body {
    @include font(default);
    background: transparent;
  }
}

@include def-module(main) {
  padding: 20px;
  margin: 40px auto;
  max-width: 640px;
}

@include def-module(header) {
  @include clearfix;
  margin-bottom: 20px;

  > a {
    @include font(bold);
    display: block;
  }

  @include def-module(social-links) {
    li {
        float: left;
        &:after {
            content: '\00a0\00a0\00a0\00a0';
        }
    }

    a {
        @include font(underline);
    }
  }
}

@include def-module(personal-information) {
  p {
    margin-bottom: 20px;
  }

  em {
    @include font(italic);
  }

  a {
    @include font(underline);
  }
}

html {
    @include module-inline(root);
    @include module-tree(main);
    @include module-tree(header);
    @include module-tree(personal-information);
}

@media screen and (max-width: 639px) {
  .main {
    margin-top: 0 !important;
  }
}
