//========
// Colors

asphalt = #777777
black = #333333
blue = #3B5998
cyan = #55ACEE
gray = #BEBEC0
green = #19A84C
orange = #E58C2C
red = #EE3724
yellow = #F6B100

//=======
// Fonts

default-font = 'Cubano', sans-serif

@font-face
    font-family 'Cubano'
    src url('/fonts/cubano-webfont.eot')
    src url('/fonts/cubano-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/cubano-webfont.woff2') format('woff2'),
        url('/fonts/cubano-webfont.woff') format('woff'),
        url('/fonts/cubano-webfont.ttf') format('truetype'),
        url('/fonts/cubano-webfont.svg#cubanoregular') format('svg')
    font-weight normal
    font-style normal

//========
// Mixins

link-color(c)
    color c
    transition color .25s

    &:focus, &:hover
        color lighten(c, 25%)

//=======
// Reset

global-reset()

*
    box-sizing border-box

//========
// Styles

body
    font 32px/40px default-font
    color asphalt

a
    link-color asphalt

.logo
    margin 60px 0 40px 20%

    img
        display block
        height 150px
        margin-left -81px // Lines up the Ks.

h1
    margin-bottom 40px

    a
        display block
        overflow hidden
        text-decoration none

    .first-name
        display block
        float left
        width 20%
        text-align right
        padding-right 10px
        color gray

    .last-name
        display block
        float left
        width 80%
        color red

.container
    padding 0 10%
    margin 0 auto

section
    overflow hidden
    margin-bottom 20px

    h2
        float left
        width 20%
        text-align right
        padding-right 10px
        color gray

    p, ul
        float left
        width 80%

    li
        padding-left 20px
        text-indent -20px

.footer
    margin 40px 20px 20px
    font 14px/20px default-font
    text-align center

//===============
// Link Coloring

.alp       { link-color: orange }
.apple     { link-color: black }
.berkeley  { link-color: blue }
.calhacks  { link-color: yellow }
.ditto     { link-color: purple }
.email     { link-color: red }
.facebook  { link-color: blue }
.filepizza { link-color: red }
.github    { link-color: black }
.hackbot   { link-color: green }
.hh        { link-color: green }
.jpl       { link-color: red }
.kairos    { link-color: red }
.medium    { link-color: black }
.pavlov    { link-color: purple }
.puddin    { link-color: orange }
.stab      { link-color: yellow }
.twitter   { link-color: cyan }

//===============
// Media Queries

@media (max-width: 1279px)
  .container
      padding 0

@media (max-width: 959px)
    body
        font 28px/30px default-font

    .logo
        margin 40px 0 20px 50%

    h1
        .first-name, .last-name
            width 50%

    main
        padding 0 20px

    section
        margin-bottom 30px

        h2
            margin-bottom 15px
            text-align left

        h2, p, ul
            float none
            width auto

        li
            margin-bottom 15px

    .footer
        font 12px/15px default-font
