/* @override http://localhost:4000/css/master.css */

* {
	 margin: 0;
	 padding: 0;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
  font-family: 'Museo';
  src: url('/fonts/Museo.eot');
  src: local('Museo'), local('Museo500-Regular'), url('/fonts/Museo.woff') format('woff'), url('/fonts/Museo.ttf') format('truetype');
}

h1, h2, h3, #header nav,
#content .calendar .day {
	font-family: 'Museo', serif;
}

h1 {
	line-height: 166.666%;
	font-size: 2.4em;
}

h2, h3, #header nav span {
	line-height: 111.111%;
	font-size: 1.8em;
}

#content .posts .post,
#content .posts header .description {
	font-size: 1.2em;
	line-height: 166.666%;
}

html {
	background: #E6E6E6 url(/images/background.png) repeat-x;
	font: 62.5% Helvetica, "Helvetica Neue", Arial, sans-serif;
}

p {
	margin-top: 1em;
}

#container {
	width: 800px;
	margin: 0 auto;
}

#header {
	display: block;
	width: 800px;
	height: 150px;
	margin-bottom: 60px;
}

#logo {
	display: block;
	float: left;
	width: 251px;
	height: 150px;
	background: url(/images/kernpedia.png) no-repeat;
	text-indent: -99999px;
}

#header nav {
	display: block;
	float: right;
	width: 400px;
	height: 114px;
}

#header nav ul {
	display: block;
	float: right;
	height: 31px;
	margin-top: 48px;
	list-style-type: none;
}

#header nav li {
	float: left;
	margin-left: 10px;
}

.blogTab #header nav li.blogTab,
.projectsTab #header nav li.projectsTab,
.aboutTab #header nav li.aboutTab,
.contactTab #header nav li.contactTab {
	background-image: url(/images/tab_dots.png);
}

.blogTab #header nav li.blogTab a,
.projectsTab #header nav li.projectsTab a,
.aboutTab #header nav li.aboutTab a,
.contactTab #header nav li.contactTab a {
	color: white;
}

#header nav a {
	position: relative;
	display: block;
	height: 31px;
	padding-left: 10px;
	background: url(/images/tab_corners.png) left top;
	color: black;
	text-decoration: none;
}

#header nav li:hover,
#header nav li:focus {
	background-color: #E6E6E6;
}

#header nav span {
	display: block;
	height: 31px;
	padding-right: 10px;
	background: url(/images/tab_corners.png) right;
	line-height: 30px;
}

#body {
	overflow: auto;
}

#content {
	width: 590px;
	float: left;
}

#content a, #footer a {
	color: #c22d33;
}

#content .posts {
	list-style-type: none;
}

#content .posts li {
	margin-bottom: 40px;
}

#content .posts header {
	position: relative;
	display: block;
	margin-bottom: 20px;
	overflow: auto;
}

#content .posts header .calendar {
	float: left;
	height: 46px;
	background: url(/images/calendar.png) no-repeat 0 0;
	color: white;
	width: 46px;
	padding-top: 5px;
	padding-left: 5px;
}

#content .posts header .calendar * {
	display: block;
	width: 40px;
	text-align: center;
}

#content .posts header .calendar .day {
	font-size: 28px;
	line-height: 30px;
}

#content .posts header .calendar .month {
	font-size: 10px;
	font-weight: bold;
	line-height: 10px;
}

#content .posts header .name {
	position: absolute;
	bottom: 0;
	left: 60px;
}

#content .posts header .title {
	font-size: 1.8em;
	line-height: 166.666%;
}

#content .posts header .title a {
	color: black;
}

#content .posts header .description {
	color: #666;
}

#content .posts .post {
	margin-left: 60px;
}

#sidebar {
	float: right;
	width: 200px;
}

#sidebar a {
	color: black;
}

#sidebar h3 {
	margin: 10px 0;
}

#sidebar .allPosts {
	list-style-type: none;
}

#sidebar .allPosts li {
	display: block;
	margin-bottom: 10px;
}

#sidebar .allPosts .date {
	color: #666;
}

#sidebar .allPosts .raquo {
	color: #c22d33;
}

#footer {
	display: block;
	margin-top: 60px;
	padding-bottom: 20px;
	text-align: center;
}