%a#logo{:href => '/'} Kernpedia

%nav
  %ul
    %li{:class => ('current' if @tab == :portfolio)}
      %a{:href => '/'} Portfolio
    %li{:class => ('current' if @tab == :blog)}
      %a{:href => '/blog.html'} Blog
    %li
      %a{:href => 'http://github.com/CapnKernul'} Code
    %li{:class => ('current' if @tab == :about)}
      %a{:href => '/about.html'} About