@import "nib";

//========
// Colors

asphalt = #777777
black = #333333
blue = #3B5998
coinbase-cyan = #00649A
cyan = #55ACEE
gray = #BEBEC0
green = #19A84C
orange = #E58C2C
red = #EE3724
yellow = #F6B100

//=======
// Fonts

default-font = 'Cubano', sans-serif

@font-face
    font-family 'Cubano'
    src url('fonts/cubano-webfont.eot')
    src url('fonts/cubano-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/cubano-webfont.woff2') format('woff2'),
        url('fonts/cubano-webfont.woff') format('woff'),
        url('fonts/cubano-webfont.ttf') format('truetype'),
        url('fonts/cubano-webfont.svg#cubanoregular') format('svg')
    font-weight normal
    font-style normal

//========
// Mixins

link-color(c)
    color c
    transition color .25s

    &:focus, &:hover
        color lighten(c, 25%)

//=======
// Reset

global-reset()

*
    box-sizing border-box

//========
// Styles

body
    font 32px/40px default-font
    color asphalt

a
    link-color asphalt

.instapipe
    margin 60px 0 20px 20%

.cortado
    img
        display block
        height 150px
        margin 60px auto 0

h1
    margin-bottom 20px

    a
        display block
        overflow hidden
        text-decoration none

    .first-name
        display block
        float left
        width 20%
        text-align right
        padding-right 10px
        color gray

    .last-name
        display block
        float left
        width 80%
        color red

.container
  width 900px
  margin 0 auto

section
    overflow hidden
    margin-bottom 10px

    h2
        float left
        width 20%
        text-align right
        padding-right 10px
        color gray

    p, ul
        float left
        width 80%

    li
        padding-left 20px
        text-indent -20px
        margin-bottom 10px

.sub
  font-size 20px
  line-height 32px
  padding-top 8px

.sup
  font-size 20px
  line-height 32px
  padding-bottom 8px

#more
  cursor pointer
  font-size 20px
  color gray
  link-color gray

#disclosure
  display none

.footer
    margin 40px 20px 20px
    font 14px/20px default-font
    text-align center

//===============
// Link Coloring

.alp        { link-color: orange }
.apple      { link-color: black }
.berkeley   { link-color: blue }
.calhacks   { link-color: yellow }
.ditto      { link-color: purple }
.email      { link-color: red }
.filepizza  { link-color: red }
.github     { link-color: black }
.hackbot    { link-color: green }
.hh         { link-color: green }
.jpl        { link-color: red }
.kairos     { link-color: red }
.linkedin   { link-color: blue }
.telegram   { link-color: black }
.dsys       { link-color: purple }
.puddin     { link-color: orange }
.stab       { link-color: yellow }
.twitter    { link-color: cyan }
.coinbase   { link-color: coinbase-cyan }

//==========
// Instapipe

.story-available
  background-image linear-gradient(rgb(186, 62, 138), #fba051)
  size 114px 114px
  z-index -10
  border-radius 70px
  margin-left -57px

  &.not-available
    background gray !important

  > img
    box-sizing content-box
    size 100px 100px
    border-radius 70px
    margin-left 3px
    margin-top 3px
    cursor pointer
    border 4px solid white

.story-viewer
  width 100%
  height 100%
  position fixed
  top 0
  left 0
  z-index 100
  display none
  font 18px/24px default-font
  justify-content center

  > .overlay
    background-color rgba(0, 0, 0, 0.8)
    width 100%
    height 100%
    z-index -1
    position absolute

  > .content
    position relative
    width 512px
    max-width 80% // for mobile devices
    margin-top 30px

.story-viewer-media
  position absolute
  top 80px
  left 0
  right 0
  bottom 40px
  display flex
  align-items center
  justify-content center

  > div
    background-size contain
    background-repeat no-repeat
    background-position 50% 50%
    size 100% 100%

  > video
    max-width 100%
    max-height 100%

.story-viewer-progress-bar
  height 3px
  margin 10px 0
  display flex

  .item-bg
    border-radius 6px
    background-color rgba(187, 187, 187, 0.6)
    height 100%
    display block

  .item-fg
    background-color white
    height 100%
    border-radius 3px
    animation-timing-function linear

.story-viewer-header
  height 50px
  display flex
  align-items center

  > img
    display block
    size 50px 50px
    border-radius 25px
    cursor pointer
    box-sizing border-box
    margin-right 10px
    border 3px solid white

  > .info
    flex auto

    > .user-link a
      link-color white
      text-decoration none

    > .timestamp
      color asphalt
      font-size 16px

  > .powered-by-instapipe
    text-align right
    font-size 16px

    a
      link-color asphalt
      text-decoration none

.story-viewer-button
  position fixed
  top calc(50vh - 10px)
  background-color rgba(200, 200, 200, 0.88)
  padding 10px
  color black
  border-radius 20px
  width 40px
  height 40px
  display block
  font 18px/20px default-font
  text-align center
  cursor pointer
  z-index 1

  &.prev
    left 50px

  &.next
    right 50px

.story-viewer-dummy-content
  size 0 0
  opacity 0

@keyframes story-viewer-progress
  from { width: 0%; }
  to { width: 100%; }

//===============
// Media Queries

@media (max-width: 1279px)
  .container
      width auto
      padding 0

@media (max-width: 959px)
    body
        font 28px/30px default-font

    .instapipe
        margin 40px 0 20px 0

    #story-available
      margin 0 auto

    h1
        .first-name, .last-name
            width 50%

    main
        padding 0 20px

    section
        margin-bottom 30px

        h2
            margin-bottom 15px
            text-align left

        h2, p, ul
            float none
            width auto

        li
            margin-bottom 15px

    .footer
        font 12px/15px default-font
