section {
  @extend .two-line;
  @extend .clearfix;
  position: relative;
}

nav {
  @extend .two-line;
  @extend .clearfix;
  position: relative;
}

article {
  @extend .two-line;
  @extend .clearfix;
  position: relative;
}

aside {
  @extend .two-line;
  @extend .clearfix;
  @extend .fake-collapse;
  @include border-radius(5px);
  position: relative;
  float: right;
  z-index: 1;
  margin: 0 0 $line-height $column-width;
  width: $column-width * 11;
  padding: $line-height $column-width;
  background: transparentize($white, 0.9);
}

h1 {
  @extend .one-line;
  @extend .h1-type;
}

h2 {
  @extend .one-line;
  @extend .h2-type;
}

h3 {
  @extend .one-line;
  @extend .h3-type;
}

h4 {
  @extend .one-line;
  @extend .h4-type;
}

h5 {
  @extend .one-line;
  @extend .h4-type;
}

h6 {
  @extend .one-line;
  @extend .h4-type;
}

hgroup {
  @extend .one-line;
  @extend .clearfix;
  position: relative;
}

header {
  @extend .two-line;
  @extend .clearfix;
  position: relative;
}

footer {
  @extend .two-line;
  @extend .clearfix;
  position: relative;
}

address {
  @extend .two-line;
  @extend .clearfix;
  position: relative;
}