body > header {
  $height: $line-height * 6;
  $vertical-margins: $line-height * 2;
  
  display: table;
  width: $body-width;
  height: $height;
  margin: $vertical-margins auto;
  
  #logo, nav, ul, li {
    height: 100%;
  }
  
  #logo, nav, li {
    display: table-cell;
  }
  
  ul {
    display: table;
    float: right;
  }
  
  #logo {
    vertical-align: middle;
  }
  
  li {
    vertical-align: middle;
    
    a {
      display: block;
      padding: 0 $line-height;
    }
  }
}