body > header {
  $height: $line-height * 6;
  $margin-bottom: $line-height * 2;
  
  display: table;
  width: $body-width;
  height: $height;
  margin: 0 auto $margin-bottom auto;
  
  a#logo, nav, ul, li, li a {
    height: 100%;
  }
  
  a#logo, nav, li {
    display: table-cell;
  }
  
  ul {
    display: table;
  }
  
  a#logo {
    vertical-align: top;
  }
  
  li {
    vertical-align: top;
    
    a {
      display: block;
    }
  }
}