// Poor man's CSS reset/boilerplate. (Which just so
// happens to be quite a bit better than everyone
// else's). It only resets the things people actually
// care about.

// These shouldn't have the spacing they usually do.
ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre, 
form, body, html, p, blockquote, fieldset, input {
  padding: 0;
  margin: 0;
}

// Most lists are navigational.
ul, ol {
  list-style: none;
}

// Blue-bordered linked images suck.
a img, :link img, :visited img {
  border: none;
}

// Browsers mess this one up too.
address {
  font-style: normal;
}

// lulz html5
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { 
    display: block;
}