$html-background: white;
$body-background: white;
$body-width: 960px;

@import "boilerplate";
@import "typography/typography";
@import "layout/header";
@import "layout/content";
@import "layout/footer";
@import "text/footer";