// Config
$body-width: 960px;

// Framework
@import "framework/base";

// Typography
@import "typography/alignment";
@import "typography/colors";
@import "typography/fonts";
@import "typography/size";

// Layout
@import "layout/header";
@import "layout/content";
@import "layout/footer";

// Grouping
@import "grouping/p";
@import "grouping/ul";