.examples {
  figure {
    float: left;
    margin: 0 0 $line-height 0;
    
    &:nth-child(odd) .description {
      @include description(left);
    }
    
    &:nth-child(even) .description {
      @include description(right);
    }
    
    &:hover .description {
      display: block;
    }
    
    .description {
      a {
        @extend .description-link-type;
      }
      
      h2, h3 {
        @extend .description-header-type;
      }
      
      small {
        @extend .description-note-type;
      }
    }
    
    img {
      width: $column * 16;
      height: $column * 11;
    }
  }
  
  figcaption {
    @extend .hide-block;
  }
}