<header>
  <h1>Archives</h1>
</header>

<ul>
  <% archives.each do |entry| %>
    <li>
      <%= entry.date.strftime('%b %d %Y') %> - <a href="<%= entry.path %>"><%= entry.title %></a>
    </li>
  <% end %>
</ul>