<a href="/" id="logo">Kernpedia</a>

<nav>
  <ul>
    <li class="<%= 'current' if @tab == :portfolio %>"><a href="/">Portfolio</a></li>
    <li><a href="/">Blog</a></li>
    <li><a href="http://github.com/CapnKernul">Code</a></li>
    <li class="<%= 'current' if @tab == :about %>"><a href="/about">About</a></li>
  </ul>
</nav>