<% @title = 'Portfolio' %>
<% @tab = :portfolio %>

<h1 class="hide">Portfolio</h1>

%section.examples
  %figure
    %img{:src => '/images/examples/folio.png'}
    %figcaption Fol.io
    .description
      :markdown
        Fol.io
        ------
        
        Fol.io (currently under construction) is the future of online portfolios for creatives. It's going to r0x ur s0x.
        
        ### Worked on
        
         * Managed remote team
         * Designed RESTful backend in Rails
         * HTML/CSS of layout
  
  %figure
    %img{:src => '/images/examples/white_rice_music.png'}
    %figcaption White Rice Music
    .description
      :markdown
        White Rice Music
        ----------------
        
        [White Rice Music](http://whitericemusic.com) is the DJ company that I run with my friend George. We have a super snazzy site.
        
        ### Worked on
        
         * Logo design
         * Site design
         * Writing
         * Content strategy
         * HTML/CSS of layout
  
  %figure
    %img{:src => '/images/examples/andrewau_photography.png'}
    %figcaption AndrewAU Photography
    .description
      :markdown
        AndrewAU Photography
        --------------------
        
        [Andrew Gold](http://andrewauphoto.com) is an up-and-coming photographer in the Los Angeles area.
        
        ### Worked on
        
         * Logo design
         * Site design
         * HTML/CSS of layout
  
  %figure
    %img{:src => '/images/examples/bhrobotics.png'}
    %figcaption BHRobotics
    .description
      :markdown
        BHRobotics
        ----------
        
        As a president of the award-winning [Beverly Hills Robotics Team, MorTorq](http://bhrobotics.com), I manage the team website.
        
        ### Worked on
        
         * Site design
         * Content strategy
         * HTML/CSS of layout
         * Backend CMS
         * Managed website team
  
  %figure
    %img{:src => '/images/examples/foss.png'}
    %figcaption FOSS
    .description
      :markdown
        Free and Open Source Software
        -----------------------------
        
        All my open source development is done on [my GitHub profile](http://github.com/CapnKernul). I've developed multiple [Ruby](http://ruby-lang.org) and [Erlang](http://erlang.org) projects including [organize](http://github.com/CapnKernul/organize) and [httparadise](http://github.com/CapnKernul/httparadise). Currently, I am working on the [RubyGem](http://rubygems.org) [webbed](http://github.com/CapnKernul/webbed).
  
  %figure
    %img{:src => '/images/examples/resume.png'}
    %figcaption Resum&eacute;
    .description
      :markdown
        Resum&eacute;
        ------
        
        I have a more formal resum&eacute; in both [HTML](/files/resume/resume.html) and [PDF](/files/resume/resume.pdf) format.