ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre,
form, body, html, p, blockquote, fieldset, input {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

a img, a:link img, a:visited img {
  border: none; }

address {
  font-style: normal; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html {
  background: white; }

body {
  background: white; }

body > header {
  text-align: center; }

#content {
  text-align: left; }
  #content header time {
    text-align: center; }

body > footer {
  text-align: center; }

body > header {
  color: black; }
  body > header a {
    color: black; }

#content {
  color: black; }
  #content a {
    color: black; }

body > footer {
  color: black; }
  body > footer a {
    color: black; }

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
  font-family: 'Museo';
  src: url("/fonts/Museo.eot");
  src: local("Museo"), local("Museo500-Regular"), url("/fonts/Museo.woff") format("woff"), url("/fonts/Museo.ttf") format("truetype"); }

html {
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, #logo, body > header nav, #content header {
  font-family: 'Museo', serif; }

small {
  font-size: 10px;
  line-height: 18px; }

html, h3, h4, h5, h6 {
  font-size: 12px;
  line-height: 18px; }

h2, body > header li a, .subtitle, .month {
  font-size: 18px;
  line-height: 18px; }

h1, #logo, .title {
  font-size: 24px;
  line-height: 36px; }

#logo {
  text-transform: lowercase;
  text-decoration: none; }

body > header {
  display: table;
  width: 960px;
  height: 108px;
  margin: 36px auto; }
  body > header #logo, body > header nav, body > header ul, body > header li {
    height: 100%; }
  body > header #logo, body > header nav, body > header li {
    display: table-cell; }
  body > header ul {
    display: table;
    float: right; }
  body > header #logo {
    vertical-align: middle; }
  body > header li {
    vertical-align: middle; }
    body > header li a {
      display: block;
      padding: 0 18px; }

#content {
  width: 960px;
  margin: 54px auto; }

body > footer {
  width: 960px;
  margin: 54px auto 0 auto;
  padding: 18px 0; }

#content p {
  margin: 18px 0; }

#content ul {
  margin: 18px 0;
  list-style-type: disc;
  list-style-position: inside; }

#content section {
  margin: 36px 0; }

#content article {
  margin: 36px 0; }
  #content article header {
    margin: 18px 0; }
    #content article header time, #content article header hgroup {
      display: table-cell;
      vertical-align: middle; }
    #content article header time {
      width: 54px;
      padding-right: 18px; }
    #content article header .month, #content article header .day {
      display: block; }
