ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre,
form, body, html, p, blockquote, fieldset, input {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

a img, a:link img, a:visited img {
  border: none; }

address {
  font-style: normal; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html {
  background: white; }

body {
  background: white; }

body > header {
  text-align: center; }

#content {
  text-align: left; }

body > footer {
  text-align: center; }

body > header {
  color: black; }
  body > header a {
    color: black; }

#content {
  color: black; }
  #content a {
    color: black; }

body > footer {
  color: black; }
  body > footer a {
    color: black; }

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
  font-family: 'Museo';
  src: url("/fonts/Museo.eot");
  src: local("Museo"), local("Museo500-Regular"), url("/fonts/Museo.woff") format("woff"), url("/fonts/Museo.ttf") format("truetype"); }

html {
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, #logo, body > header nav {
  font-family: 'Museo', serif; }

html {
  font-size: 12px;
  line-height: 18px; }

h1 {
  font-size: 24px;
  line-height: 36px; }

h2, body > header li a {
  font-size: 18px;
  line-height: 18px; }

h3, h4, h5, h6 {
  font-size: 12px;
  line-height: 18px; }

small {
  font-size: 10px;
  line-height: 18px; }

body > header {
  display: table;
  width: 960px;
  height: 126px;
  margin: 0 auto 54px auto; }
  body > header a#logo, body > header nav, body > header ul, body > header li, body > header li a {
    height: 100%; }
  body > header a#logo, body > header nav, body > header li {
    display: table-cell; }
  body > header ul {
    display: table; }
  body > header a#logo {
    vertical-align: top; }
  body > header li {
    vertical-align: top; }
    body > header li a {
      display: block; }

#content {
  width: 960px;
  margin: 54px auto; }

body > footer {
  width: 960px;
  margin: 54px auto 0 auto;
  padding: 18px 0; }

#content p {
  margin: 0 18px; }

#content ul {
  margin: 0 18px; }
