.columns {
  @extend .clearfix;
  
  .left-column {
    @extend .fake-collapse;
    float: left;
    width: $column-width * 17;
    margin: 0;
  }
  
  .right-column {
    @extend .fake-collapse;
    float: right;
    width: $column-width * 17;
    margin: 0;
  }
}