#header {
  @extend .full-width;
  height: $line-height * 2;
  margin: 0;
  
  #logo {
    @extend .hide-text;
    display: block;
    float: left;
    width: 120px;
    height: $line-height * 2;
    background: url("/images/logo.png") no-repeat center center;
  }
  
  nav {
    float: right;
    height: $line-height * 2;
    margin: 0;
  }
  
  ul {
    margin: 0;
    list-style-type: none;
  }
  
  li {
    display: block;
    float: left;
    
    a {
      @extend .hide-text;
      display: block;
      width: $column-width * 2;
      height: $line-height * 2;
    }
    
    a:hover, a:focus, &.current a {
      background-color: transparentize($black, 0.6);
    }
  }
}