.header-icon {
  background: no-repeat center left;
  padding-left: $column-width * 2;
}

.nav-icon {
  background-repeat: no-repeat;
  background-position: center center;
}

.person-icon {
  @extend .header-icon;
  background-image: url("/images/person-icon.png");
}

.mail-icon {
  @extend .header-icon;
  background-image: url("/images/mail-icon.png");
}

.gear-icon {
  @extend .header-icon;
  background-image: url("/images/gear-icon.png");
}

.bubbles-icon {
  @extend .header-icon;
  background-image: url("/images/bubbles-icon.png");
}

.git-icon {
  @extend .nav-icon;
  background-image: url("/images/git-icon.png");
}

.twitter-icon {
  @extend .nav-icon;
  background-image: url("/images/twitter-icon.png");
}

.at-sign-icon {
  @extend .nav-icon;
  background-image: url("/images/at-sign-icon.png");
}