.post {
  h1 {
    margin-bottom: 0;
    
    a {
      @extend .h1-type;
    }
  }
  
  time {
    color: $gray;
  }
  
  #disqus_thread {
    @extend .one-line;
  }
}

.post-list {
  list-style-type: none;
  
  li {
    @extend .clearfix;
  }
  
  li:nth-child(even) {
    background: #eee;
  }
  
  h3 {
    float: left;
    margin: 0;
  }
  
  time {
    @extend .note-type;
    float: right;
    
    &:before {
      content: '[';
    }
    
    &:after {
      content: ']';
    }
  }
}