@mixin font-size($size) {
  font-size: $size;
  line-height: ceil($size / $line-height) * $line-height;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

.hide-text {
  text-indent: -999999px;
}

.hide {
  @extend .hide-text;
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.full-width {
  width: 594px;
}

.table-cell {
  display: table-cell;
}

.middle-table-cell {
  @extend .table-cell;
  vertical-align: middle;
}

.top-table-cell {
  @extend .table-cell;
  vertical-align: top;
}

.fake-collapse {
  & > :first-child, & > :first-child > :first-child { margin-top: 0; }
  & > :last-child, & > :last-child > :last-child { margin-bottom: 0; }
}

.centered {
  margin: {
    left: auto;
    right: auto;
  }
}

.clickable {
  cursor: pointer;
}

.clearfix {
  &:after {
    display: block;
    height: 0;
    content: '';
    clear: both;
  }
}