// =============================================================================
// Document
// =============================================================================

html {
  @extend .body-type;
  position: relative;
  background: $gray url(/images/background.png) top center repeat-x;
}

body {
  @extend .centered;
  width: $column * 55;
}

// =============================================================================
// Sections
// =============================================================================

header {
  @extend .one-line;
  position: relative;
}

section {
  @extend .one-line;
  position: relative;
}

nav {
  @extend .one-line;
  position: relative;
}

article {
  @extend .one-line;
  position: relative;
}

aside {
  @extend .one-line;
  position: relative;
}

h1 {
  @extend .one-line;
}

h2 {
  @extend .one-line;
}

h3 {
  @extend .one-line;
}

h4 {
  @extend .one-line;
}

h5 {
  @extend .one-line;
}

h6 {
  @extend .one-line;
}

hgroup {
  @extend .one-line;
  position: relative;
}

header {
  @extend .one-line;
  position: relative;
}

footer {
  @extend .one-line;
  position: relative;
}

address {
  @extend .one-line;
  position: relative;
}

// =============================================================================
// Grouping
// =============================================================================

p {
  @extend .one-line;
}

hr {
  
}

pre {
  @extend .one-line;
  white-space: pre-wrap;
}

blockquote {
  @extend .one-line;
}

ol {
  @extend .one-line;
  list-style-type: decimal;
}

ul {
  @extend .one-line;
  list-style-type: square;
}

li {
  
}

dl {
  @extend .one-line;
}

dt {
  
}

dd {
  
}

// By far the most complicated CSS I've ever written
figure {
  position: relative;
  float: left;
  margin-bottom: $line-height;
  
  &:nth-of-type(odd) {
    @include box-shadow(2px 2px 0 $red);
    
    // Puts description on the left side of the image
    &:hover .description {
      left: $column * -13;
      right: auto;
      
      &:before {
        right: ($column * -2) - 4px;
        border-color: transparent transparent transparent $white;
      }
      
      &:after {
        right: ($column * -1) - 2px;
      }
    }
  }
  
  &:nth-of-type(even) {
    @include box-shadow(2px 2px 0 $beige);
    
    // Puts description on the right side of the image
    &:hover .description {
      left: auto;
      right: $column * -13;
      
      &:before {
        left: ($column * -2) - 4px;
        border-color: transparent $white transparent transparent;
      }
      
      &:after {
        left: ($column * -1) - 2px;
      }
    }
  }
  
  .description {
    @include box-shadow(2px 2px 0 $red);
    @include border-radius(4px);
    @extend .description-type;
    @extend .fake-collapse;
    position: absolute;
    z-index: 999;
    top: 0;
    left: -999999px; // Readable by search engines, yet off the screen
    width: $column * 10;
    border: 2px solid $beige;
    padding: ($line-height - 2px) ($column - 2px);
    background: $white;
    
    &:before {
      position: absolute;
      display: block;
      content: '\00a0';
      z-index: 99999;
      top: $line-height;
      width: 0;
      height: 0;
      border-width: $line-height + 2px;
      border-style: solid;
    }
    
    &:after {
      position: absolute;
      display: block;
      content: '\00a0';
      z-index: 99999;
      top: -2px;
      width: $column;
      height: $line-height * 11;
    }
  }
  
  img {
    display: block;
  }
}

figcaption {
  @extend .nav-type;
  position: absolute;
  bottom: $line-height;
  left: $column;
}

// =============================================================================
// Text-level semantics
// =============================================================================

a {
  @extend .link-type;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  @extend .note-type;
}

s {
  text-decoration: line-through;
}

cite {
  
}

q {
  
}

dfn {
  
}

abbr {
  
}

time {
  @extend cite;
}

code {
  
}

var {
  @extend mark;
}

samp {
  @extend mark;
}

kbd {
  @extend mark;
}

sub {
  
}

sup {
  
}

i {
  @extend em;
}

b {
  @extend strong;
}

mark {
  
}

// =============================================================================
// Edits
// =============================================================================

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

// =============================================================================
// Embedded content
// =============================================================================

// TODO: Write styles for embedded content (flash, video, audio, etc.).

// =============================================================================
// Tabular data
// =============================================================================

// TODO: Write styles for tabular data (table, tbody, td, etc.).

// =============================================================================
// Forms
// =============================================================================

// TODO: Write styles for forms (form, fieldset, input, etc.).

// =============================================================================
// Section-specific
// =============================================================================

#container {
  @extend .full-width;
  @extend .centered;
}

#header {
  @extend .full-width;
  display: table;
  
  #logo, nav {
    @extend .middle-table-cell;
    width: $column * 16;
    height: $line-height * 5;
  }
  
  #logo {
    @extend .hide-text;
    background: url(/images/logo.png) center center no-repeat;
  }
  
  nav {
    padding-left: $column;
    
    ul {
      list-style-type: none;
    }
    
    .current a {
      @extend .nav-current-type;
    }
    
    a {
      @extend .nav-type;
    }
    
    a:before {
      content: "\00BB\00A0";
    }
    
    .current a:before {
      color: $red;
    }
  }
}

#main {
  @extend .full-width;
  @extend .one-line;
  @extend .clearfix;
  position: relative;
  
  figure:nth-of-type(even) {
    margin-left: $column;
  }
}

#footer {
  @extend .full-width;
  text-align: center;
}