html .header {
  zoom: 1; }
  html .header:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  html .header:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline; }

body {
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

a {
  color: inherit;
  text-decoration: inherit; }
  a img {
    border: none; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]), [hidden] {
  display: none; }

html body {
  color: black;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
  text-transform: none; }
html .personal-information a, html .tweets a {
  text-decoration: underline; }
@font-face {
  font-family: "Cubano";
  src: url("/fonts/cubano-regular-webfont.eot");
  src: url("/fonts/cubano-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/cubano-regular-webfont.woff") format("woff"), url("/fonts/cubano-regular-webfont.ttf") format("truetype"), url("/fonts/cubano-regular-webfont.svg#CubanoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Museo";
  src: url("/fonts/museo100-regular-webfont.eot");
  src: url("/fonts/museo100-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/museo100-regular-webfont.woff") format("woff"), url("/fonts/museo100-regular-webfont.ttf") format("truetype"), url("/fonts/museo100-regular-webfont.svg#Museo100Regular") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Museo";
  src: url("/fonts/museo300-regular-webfont.eot");
  src: url("/fonts/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/museo300-regular-webfont.woff") format("woff"), url("/fonts/museo300-regular-webfont.ttf") format("truetype"), url("/fonts/museo300-regular-webfont.svg#Museo100Regular") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Museo";
  src: url("/fonts/museo500-regular-webfont.eot");
  src: url("/fonts/museo500-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/museo500-regular-webfont.woff") format("woff"), url("/fonts/museo500-regular-webfont.ttf") format("truetype"), url("/fonts/museo500-regular-webfont.svg#Museo500Regular") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Museo";
  src: url("/fonts/museo700-regular-webfont.eot");
  src: url("/fonts/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/museo700-regular-webfont.woff") format("woff"), url("/fonts/museo700-regular-webfont.ttf") format("truetype"), url("/fonts/museo700-regular-webfont.svg#Museo700Regular") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Museo";
  src: url("/fonts/museo900-regular-webfont.eot");
  src: url("/fonts/museo900-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/museo900-regular-webfont.woff") format("woff"), url("/fonts/museo900-regular-webfont.ttf") format("truetype"), url("/fonts/museo900-regular-webfont.svg#Museo900Regular") format("svg");
  font-weight: 900;
  font-style: normal; }
html body {
  color: #383838;
  font-family: "Museo", sans-serif; }
html .header > a, html .personal-information a, html .tweets a {
  color: #195073; }
html .personal-information em {
  color: #7f8c38; }
html .header > a {
  font-size: 64px;
  line-height: 80px; }
html .header > a {
  font-family: "Cubano", sans-serif; }
html {
  border-top: 5px solid #ee9140; }
  html body {
    border-top: 2px solid #f2e5bd; }
html .main {
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
  padding-top: 40px; }
  html .main_double-dash, html .main > ._double-dash, html .main.__double-dash ._double-dash, html .main.__ ._double-dash {
    float: left;
    width: 600px;
    border-top: 2px solid #E6E6E6;
    border-bottom: 2px solid #E6E6E6;
    height: 10px;
    margin-bottom: 20px; }
html .header {
  margin: 0 auto;
  width: 500px;
  margin-bottom: 40px;
  text-align: center; }
  html .header > img {
    display: block;
    float: left;
    width: 140px; }
  html .header > a {
    display: block;
    float: left;
    width: 360px;
    margin-top: 18px; }
  html .header_social-links, html .header > ._social-links, html .header.__social-links ._social-links, html .header.__ ._social-links {
    float: right;
    width: 360px; }
    html .header_social-links li, html .header > ._social-links li, html .header.__social-links ._social-links li, html .header.__ ._social-links li {
      float: left;
      width: 20%; }
    html .header_social-links img, html .header > ._social-links img, html .header.__social-links ._social-links img, html .header.__ ._social-links img {
      display: block;
      width: 24px;
      height: 24px;
      margin: 0 auto; }
    html .header_social-links img:hover, html .header > ._social-links img:hover, html .header.__social-links ._social-links img:hover, html .header.__ ._social-links img:hover, html .header_social-links img:focus, html .header > ._social-links img:focus, html .header.__social-links ._social-links img:focus, html .header.__ ._social-links img:focus {
      opacity: 0.5; }
html .personal-information {
  float: left;
  width: 300px;
  padding-right: 20px; }
  html .personal-information p {
    margin-bottom: 20px; }
html .tweets {
  float: left;
  width: 300px;
  padding-left: 20px; }
@media screen and (max-width: 599px) {
  .main {
    width: auto;
    padding: 20px 20px 0; }

  .header > img {
    float: none;
    margin: 0 auto; }
  .header > a {
    font-size: 24px;
    line-height: 40px;
    float: none;
    width: auto;
    margin-top: 0; }

  .social-links {
    float: none;
    width: auto; }

  .personal-information, .tweets {
    width: 100%;
    padding: 0; }

  .tweets iframe {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; } }
