$line-height: 18px;

$large-size: 24px;
$medium-size: 18px;
$small-size: 12px;
$kids-size: 10px;

@mixin font-size($size: small) {
  
  // Screw SASS for not doing interpolation on variables.
  @if $size == kids {
    $size: $kids-size;
  } @else if $size == small {
    $size: $small-size;
  } @else if $size == medium {
    $size: $medium-size;
  } @else if $size == large {
    $size: $large-size;
  }
  
  font-size: $size;
  line-height: ceil($size / $line-height) * $line-height;
}

// Default font-sizes
html {
  @include font-size(small);
}

h1 {
  @include font-size(large);
}

h2 {
  @include font-size(medium);
}

h3, h4, h5, h6 {
  @include font-size(small);
}

small {
  @include font-size(kids);
}