$column-count: 12 !default;
$responsive-grid: true !default;
$default-grid-retract: none !default;

$desktop-column-width: 60px !default;
$tablet-column-width: 42px !default;
$large-desktop-column-width: 70px !default;

$phone-gutter-width: 20px !default;
$desktop-gutter-width: 20px !default;
$tablet-gutter-width: 20px !default;
$large-desktop-gutter-width: 30px !default;

@function tablet-columns($n) {
  @return $tablet-column-width * $n;
}

@function desktop-columns($n) {
  @return $desktop-column-width * $n;
}

@function large-desktop-columns($n) {
  @return $large-desktop-column-width * $n;
}

@function phone-gutters($n) {
  @return $phone-gutter-width * $n;
}

@function tablet-gutters($n) {
  @return $tablet-gutter-width * $n;
}

@function desktop-gutters($n) {
  @return $desktop-gutter-width * $n;
}

@function large-desktop-gutters($n) {
  @return $large-desktop-gutter-width * $n;
}

@mixin grid {
  @include clearfix;
  width: desktop-columns($column-count) + desktop-gutters($column-count);

  @if $responsive-grid {
    @include respond-to(large-desktop) {
      width: large-desktop-columns($column-count) + large-desktop-gutters($column-count);
    }

    @include respond-to(tablet) {
      width: tablet-columns($column-count) + tablet-gutters($column-count);
    }

    @include respond-to(phone) {
      width: auto;
    }
  }
}

@mixin row {
  @include clearfix;
  position: relative;
  margin-left: desktop-gutters(-0.5);
  margin-right: desktop-gutters(-0.5);

  @if $responsive-grid {
    @include respond-to(large-desktop) {
      margin-left: large-desktop-gutters(-0.5);
      margin-right: large-desktop-gutters(-0.5);
    }

    @include respond-to(tablet) {
      margin-left: tablet-gutters(-0.5);
      margin-right: tablet-gutters(-0.5);
    }

    @include respond-to(phone) {
      margin-left: phone-gutters(-1);
      margin-right: phone-gutters(-1);
    }
  }
}

@mixin cell($columns, $push: 0) {
  float: left;
  left: desktop-columns($push) + desktop-gutters($push);
  padding-left: desktop-gutters(0.5);
  padding-right: desktop-gutters(0.5);
  position: relative;
  width: desktop-columns($columns) + desktop-gutters($columns);

  @if $responsive-grid {
    @include respond-to(large-desktop) {
      left: large-desktop-columns($push) + large-desktop-gutters($push);
      padding-left: large-desktop-gutters(0.5);
      padding-right: large-desktop-gutters(0.5);
      width: large-desktop-columns($columns) + large-desktop-gutters($columns);
    }

    @include respond-to(tablet) {
      width: tablet-columns($columns) + tablet-gutters($columns);
      padding-left: tablet-gutters(0.5);
      padding-right: tablet-gutters(0.5);
      left: tablet-columns($push) + tablet-gutters($push);
    }

    @include respond-to(phone) {
      float: none;
      padding-left: phone-gutters(1);
      padding-right: phone-gutters(1);
      width: auto;
      left: 0;
    }
  }
}

@mixin inner-cell($retract: $default-grid-retract) {
  $retract: verify-enum($retract, (both, left, right, none), $default-grid-retract);

  &:before {
    @include box-sizing(border-box);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    content: "\00A0";

    @if $retract == both or $retract == left {
      left: desktop-gutters(0.5);

      @if $responsive-grid {
        @include respond-to(large-desktop) {
          left: large-desktop-gutters(0.5);
        }

        @include respond-to(tablet) {
          left: tablet-gutters(0.5);
        }

        @include respond-to(phone) {
          left: phone-gutters(1);
        }
      }
    } @else {
      left: 0;
    }

    @if $retract == both or $retract == left {
      right: desktop-gutters(0.5);

      @if $responsive-grid {
        @include respond-to(large-desktop) {
          right: large-desktop-gutters(0.5);
        }

        @include respond-to(tablet) {
          right: tablet-gutters(0.5);
        }

        @include respond-to(phone) {
          right: phone-gutters(1);
        }
      }
    } @else {
      right: 0;
    }

    @content;
  }
}
