$media-queries: map();

@mixin define-media-query($name, $media-query) {
  $media-queries: put($media-queries, $name, $media-query);
}

@mixin respond-to($name) {
  $media-query: get($media-queries, $name);

  @if $media-query == undefined {
    @warn "Unknown media query '#{$name}'. Ignoring.";
  } @else {
    @media #{$media-query} {
      @content;
    }
  }
}

@include define-media-query(phone, "only screen and (min-device-width: 320px) and (max-device-width: 480px)");
@include define-media-query(phone-landscape, "only screen and (min-width: 321px)");
@include define-media-query(phone-portrait, "only screen and (max-width: 320px)");
@include define-media-query(tablet, "only screen and (min-device-width: 768px) and (max-device-width: 1024px)");
@include define-media-query(tablet-landscape, "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)");
@include define-media-query(tablet-portrait, "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)");
@include define-media-query(desktop, "only screen and (min-width: 1224px)");
@include define-media-query(desktop-large, "only screen and (min-width: 1824px)");
@include define-media-query(retina, "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)");
