// Box model
// ---------

// Use the better box model.
* {
  @include box-sizing(border-box);
}

// HTML5 display definitions
// -------------------------

// Corrects block display not defined in IE8/9 & FF3.
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

// Corrects inline-block display not defined in IE8/9 & FF3.
audio,
canvas,
video {
  display: inline-block;
}

// Addresses styling for 'hidden' attribute not present in IE8/9, FF3, S4.
[hidden] {
  display: none;
}

// Base
// ----

// Prevents iOS text size adjust after orientation change, without disabling
// user zoom. Make the html element expand to fill the browser window.
html {
  @include text-size-adjust(100%);
  height: 100%;
}

// Removes the margin on the body element. Make the body element expand to fill
// the browser window.
body {
  margin: 0;
  height: 100%;
}

// Links
// -----

// Remove the default styling on links.
a {
  color: inherit;
  text-decoration: inherit;
}

// Addresses outline displayed oddly in Chrome.
a:focus {
  outline: thin dotted;
}

// Improves readability when focused and also mouse hovered in all browsers.
a:hover,
a:active {
  outline: 0;
}

// Typography
// ----------

// Unset the default styling of h1, h2, h3, h4, h5, h6, b, i, strong, em, dfn,
// code, pre, kbd, and samp.
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

b,
strong {
  font-weight: inherit;
}

i,
em,
dfn {
  font-style: inherit;
}

pre,
code,
kbd,
samp {
  font-family: inherit;
  font-size: inherit;
}

pre {
  margin: 0;
}

// Addresses styling not present in IE8/9.
mark {
  background: #ff0;
  color: #000;
}

// Improves readability of pre-formatted text in all browsers.
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

// Addresses quote property not supported in S4.
q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 75%;
}

// Prevents sub and sup affecting line-height in all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// Embedded content
// ----------------

// Removes border when inside 'a' element in IE8/9, FF3.
img {
  border: 0;
}

// Figures
// -------

// Addresses margin not present in IE8/9, S5, O11.
figure {
  margin: 0;
}

// Forms
// -----

// Removes the default styling for fieldsets.
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

// Corrects color not being inherited in IE8/9 and corrects text not wrapping in
// FF3.
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

// Corrects font size not being inherited in all browsers, addresses margins set
// differently in FF3+, S5, Chrome, and improves appearance and consistency in
// all browsers.
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

// Addresses FF3/4 setting line-height on 'input' using !important in the UA
// stylesheet.
button,
input {
  line-height: normal;
}

// Improves usability and consistency of cursor style between image-type 'input'
// and others and corrects inability to style clickable 'input' types in iOS.
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

// Re-set default cursor for disabled elements.
button[disabled],
input[disabled] {
  cursor: default;
}

// Addresses box sizing set to content-box in IE8/9 and removes excess
// padding in IE8/9.
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

// Addresses appearance set to searchfield in S5, Chrome.
input[type="search"] {
  -webkit-appearance: textfield;
}

// Removes inner padding and search cancel button in S5, Chrome on OS X.
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

// Removes inner padding and border in FF3+.
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Removes default vertical scrollbar in IE8/9 and improves readability and
// alignment in all browsers.
textarea {
  overflow: auto;
  vertical-align: top;
}

// Tables
// ------

// Removes most spacing between table cells.
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Lists
// -----

// Remove the padding and margin from lists.
ol, ul, dl {
  padding: 0;
  margin: 0;
}

dd {
  margin: 0;
}

// Paragraphs
// ----------

// Remove the margin on paragraphs.
p {
  margin: 0;
}
