$fonts: map();
$font-families: map();

$base-line-height: 20px !default;
$default-font-color: black !default;
$default-font-style: normal !default;
$default-font-variant: normal !default;
$default-font-weight: normal !default;
$default-font-size: 12px !default;
$default-font-family: body !default;
$default-font-decoration: none !default;
$default-font-shadow: none !default;
$default-font-transform: none !default;

@function lines($n) {
  @return $base-line-height * $n;
}

@function line-height($font-size) {
  @return lines(ceil($font-size / $base-line-height));
}

@mixin define-font-family($name, $family) {
  $font-families: put($font-families, $name, $family);
}

@function font-family($name) {
  @return fetch($font-families, $name);
}

@mixin define-font(
  $name,
  $selector: default,
  $color: $default-font-color,
  $style: $default-font-style,
  $variant: $default-font-variant,
  $weight: $default-font-weight,
  $size: $default-font-size,
  $height: line-height($size),
  $family: $default-font-family,
  $decoration: $default-font-decoration,
  $shadow: $default-font-shadow,
  $transform: $default-font-transform
) {
  $selector-settings: map((
    (color $color),
    (style $style),
    (variant $variant),
    (weight $weight),
    (size $size),
    (height $height),
    (family $family),
    (decoration $decoration),
    (shadow $shadow),
    (transform $transform)
  ));

  $font-settings: map();
  @if contains-key($fonts, $name) {
    $font-settings: fetch($fonts, $name);
  }

  $font-settings: put($font-settings, $selector, $selector-settings);
  $fonts: put($fonts, $name, $font-settings);
}

@mixin font-settings($settings) {
  $color: fetch($settings, color);
  $style: fetch($settings, style);
  $variant: fetch($settings, variant);
  $weight: fetch($settings, weight);
  $size: fetch($settings, size);
  $height: fetch($settings, height);
  $family: fetch($settings, family);
  $decoration: fetch($settings, decoration);
  $shadow: fetch($settings, shadow);
  $transform: fetch($settings, transform);

  color: color($color);
  font: $style $variant $weight #{$size}/#{$height} font-family($family);
  text-decoration: $decoration;
  text-shadow: $shadow;
  text-transform: $transform;
}

@mixin font($name) {
  $font-settings: fetch($fonts, $name);

  @each $selector in keys($font-settings) {
    $selector-settings: fetch($font-settings, $selector);

    @if $selector == default {
      @include font-settings($selector-settings);
    } @else {
      #{$selector} {
        @include font-settings($selector-settings);
      }
    }
  }
}

// Default font family
// -------------------

@include define-font-family(body, sans-serif);
