#blurb {
  padding-bottom: $line-height * 3;
  background: url(/images/rule.png) no-repeat bottom center;
  
  p {
    @extend .blurb-type;
    width: $column-width * 28;
    margin: 0;
    padding: ($line-height * 2) 0;
    text-align: center;
  }
  
  figure {
    margin: 0;
  }
  
  img {
    float: right;
    width: $column-width * 12;
    height: $line-height * 9;
    border-top: ($line-height / 2) solid transparentize($black, 0.5);
    border-right: ($column-width / 2) solid transparentize($black, 0.5);
    border-bottom: ($line-height / 2) solid transparentize($black, 0.5);
    border-left: ($column-width / 2) solid transparentize($black, 0.5);
  }
}