#header-background {
  position: absolute;
  width: 100%;
  height: 112px;
  background: url(/images/header-background.png) repeat-x top center;
}

#container {
  @extend .full-width;
  margin: 0 auto;
}