.work-example {
  figure {
    margin: 0;
  }
  
  img {
    float: left;
    width: $column-width * 26;
    height: $line-height * 16;
    border-top: ($line-height / 2) solid transparentize($black, 0.5);
    border-right: ($column-width / 2) solid transparentize($black, 0.5);
    border-bottom: ($line-height / 2) solid transparentize($black, 0.5);
    border-left: ($column-width / 2) solid transparentize($black, 0.5);
  }
}