@font-face {
    font-family: 'Museo';
    src: url('/fonts/Museo-500.eot');
    src: url('/fonts/Museo-500.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Museo-500.woff') format('woff'),
         url('/fonts/Museo-500.ttf') format('truetype'),
         url('/fonts/Museo-500.svg#webfontPbjNkd07') format('svg');
    font-weight: normal;
    font-style: normal;
}

.strong-font {
  font-family: 'Museo', serif;
  font-weight: bold;
}

.emphasized-font {
  font-family: 'Museo', serif;
  font-weight: normal;
}

.body-font {
  font-family: 'Museo', sans-serif;
  font-weight: normal;
}

.pre-font {
  font-family: monospace;
  font-weight: normal;
}