$base-line-height: 20px !default;

@function lines($n) {
  @return $base-line-height * $n;
}

@function default-line-height($font-size) {
  @return lines(ceil($font-size / $base-line-height));
}

@mixin font(
  $color,
  $size,
  $family,
  $other: normal normal normal,
  $height: default-line-height($size),
  $decoration: none,
  $shadow: none,
  $transform: none
) {
  color: $color;
  font: $other #{$size}/#{$height} $family;
  text-decoration: $decoration;
  text-shadow: $shadow;
  text-transform: $transform;
}
