@import "keystone";
@import "font-faces";

// Colors
// ======
$white: white;
$blue: #195073;
$black: #383838;
$dark-gray: #888888;
$light-gray: #EEEEEE;
$green: #7F8C38;
$orange: #EE9140;
$beige: #F2E5BD;

// Font families
// =============
$body-font-family: "Museo", sans-serif;
$header-font-family: "Cubano", sans-serif;
$monospace: "Consolas", "Liberation Mono", "Courier", monospace;

// Layout
// ======
html {
  border-top: 5px solid $orange;
}

body {
  @include font($black, 12px, $body-font-family);
  border-top: 2px solid $beige;
}

.sidebar {
  background: white;
  border-right: 0px solid $light-gray;
  height: 100%;
  padding: lines(2) 20px 0 40px;
  position: fixed;
  top: 0;
  width: 320px;
}

.header {
  text-align: center;
  margin-bottom: lines(0.5);

  a {
    text-decoration: none;
  }

  img {
    display: block;
    width: 140px;
    margin: 0 auto;
  }

  span {
    @include font($blue, 24px, $header-font-family);
  }
}

.social-links {
  @include clearfix;
  margin-bottom: lines(1);

  li {
    @include cell(4);
  }

  img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
  }

  img:hover, img:focus {
    opacity: 0.5;
  }
}

.personal-information {
  p {
    @include font($blue, 12px, $body-font-family);
    margin-bottom: lines(1);
  }

  em {
    @include font($green, 12px, $body-font-family);
  }

  a {
    @include font($blue, 12px, $body-font-family, $decoration: underline);
  }
}

.main {
  margin-left: 320px;
  width: 640px;
  min-height: 640px;
  padding: (lines(2) - 7px) 60px 0;

  h1 {
    @include font($blue, 36px, $header-font-family);
    margin-bottom: lines(1);

    a {
      font: inherit;
      text-decoration: inherit;
    }
  }

  p {
    margin-bottom: lines(1);
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
  }

  em {
    @include font($green, 12px, $body-font-family);
  }

  a {
    @include font($blue, 12px, $body-font-family, $decoration: underline);
  }

  img {
    width: 100%;
    border-top: 5px solid $light-gray;
    border-bottom: 5px solid $light-gray;
    border-radius: 5px;
  }
}

.footer {
  @include font($dark-gray, 10px, $body-font-family);
  margin-top: lines(1);
  padding: lines(0.5) 0 lines(0.5) 20px;
  border-top: 1px solid $light-gray;
}

.blog-navigation {
  position: relative;
  padding: lines(0.5) 0;
  margin-bottom: lines(1);
  border-bottom: 1px solid $light-gray;

  a {
    @include font($dark-gray, 12px, $body-font-family);
    display: block;

    &:hover, &:focus {
      @include font($dark-gray, 12px, $body-font-family, $decoration: underline);
    }
  }

  .prev {
    position: absolute;
    left: 0;

    &:before {
      content: "« ";
    }
  }

  .next {
    position: absolute;
    right: 0;

    &:after {
      content: " »";
    }
  }

  .archive {
    margin: 0 auto;
    text-align: center;
    width: 200px;
  }
}

.post-date {
  @include font($dark-gray, 18px, $header-font-family);
}

@media screen and (max-width: 960px) {
  .header img {
    display: none;
  }

  .sidebar {
    position: static;
    width: auto;
    padding: lines(1) 20px 0;
  }

  .personal-information {
    display: none;
  }

  .main {
    margin: 0;
    padding: 0 20px lines(1);
    width: auto;
  }
}
