@import "keystone";
@import "font-faces";

// Colors
// ======
$beige: #F2E5BD;
$black: #383838;
$blue: #195073;
$green: #7F8C38;
$orange: #EE9140;

// Font families
// =============
$body-font-family: "Museo", sans-serif;
$header-font-family: "Cubano", sans-serif;
$monospace: "Consolas", "Liberation Mono", "Courier", monospace;

// Layout
// ======
html {
  border-top: 5px solid $orange;
}

body {
  @include font($black, 12px, $body-font-family);
  border-top: 2px solid $beige;
}

.main {
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
  padding-top: 40px;
}

.header {
  @include cell(10, $push: 1);
  margin-bottom: 40px;
  text-align: center;

  > img {
    display: block;
    float: left;
    width: 140px;
  }

  > a {
    @include font($blue, 64px, $header-font-family);
    display: block;
    float: left;
    width: calc(100% - 140px);
    margin-top: 18px;
  }
}

.social-links {
  float: right;
  width: calc(100% - 140px);

  li {
    @include cell(3);
  }

  img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
  }

  img:hover, img:focus {
    opacity: 0.5;
  }
}

.personal-information {
  @include cell(6, $gutters: right);

  p {
    @include font($black, 12px, $body-font-family);
    margin-bottom: lines(1);
  }

  em {
    @include font($green, 12px, $body-font-family);
  }

  a {
    @include font($blue, 12px, $body-font-family, $decoration: underline);
  }
}

.tweets {
  @include cell(6, $gutters: left);

  a {
    @include font($blue, 12px, $body-font-family, $decoration: underline);
  }
}

.double-dash {
  @include cell(12);
  border-top: 2px solid #E6E6E6;
  border-bottom: 2px solid #E6E6E6;
  height: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 599px) {
  .main {
    width: auto;
    padding: 20px 20px 0;
  }
  
  .header {
    > img {
      float: none;
      margin: 0 auto;
    }

    > a {
      @include font($blue, 24px, $header-font-family);
      float: none;
      width: auto;
      margin-top: 0;
    }
  }

  .social-links {
    float: none;
    width: auto;
  }

  .personal-information, .tweets {
    width: 100%;
    padding: 0;
  }

  .tweets iframe {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
