@import "keystone";
@import "font-faces";

// Colors
// ======
$white: white;
$blue-sky: #9ED7C7;
$blue-moon: #195073;
$gray-stone: #383838;
$gray-cement: #888888;
$gray-bone: #EEEEEE;
$green-leaf: #7F8C38;
$orange: #EE9140;
$beige: #F2E5BD;

// Font families
// =============
$body-font-family: "Museo", sans-serif;
$header-font-family: "Cubano", sans-serif;
$monospace: "Consolas", "Liberation Mono", "Courier", monospace;

// Layout
// ======
body {
  @include font($gray-stone, 12px, $body-font-family);
}

em {
  @include font($green-leaf, 12px, $body-font-family);
}

a {
  @include font($blue-moon, 12px, $body-font-family, $decoration: underline);
}

.sidebar {
  position: fixed;
  top: 0;
  width: 280px;
  height: 100%;
  border-right: 5px solid $beige;

  > .inner {
    width: 100%;
    height: 100%;
    padding: lines(2) 20px 0;
    border-right: 5px solid $orange;
  }
}

.header {
  text-align: center;
  margin-bottom: lines(0.5);

  a {
    text-decoration: none;
  }

  img {
    display: block;
    width: 140px;
    margin: 0 auto;
  }

  span {
    @include font($blue-moon, 24px, $header-font-family);
  }
}

.social-links {
  @include clearfix;
  margin-bottom: lines(1);

  li {
    @include cell(4);
  }

  img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
  }

  img:hover, img:focus {
    opacity: 0.5;
  }
}

.personal-information {
  p {
    @include font($blue-moon, 12px, $body-font-family);
    margin-bottom: lines(1);
  }
}

.main {
  padding: lines(2) 60px 0 340px;
  width: 100%;
  background: transparentize(white, 0.25);

  h1 {
    @include font($blue-moon, 36px, $header-font-family);
    margin-bottom: lines(1);
  }

  p {
    margin-bottom: lines(1);
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
  }
}

.footer {
  @include font($gray-cement, 10px, $body-font-family);
  margin-top: lines(1);
  padding: lines(0.5) 0 lines(0.5) 20px;
  border-top: 1px solid $gray-bone;
}

.blog-navigation {
  position: relative;
  padding: lines(0.5) 0;
  margin-bottom: lines(1);
  border-bottom: 1px solid $gray-bone;

  a {
    @include font($gray-cement, 12px, $body-font-family);
    display: block;

    &:hover, &:focus {
      @include font($gray-cement, 12px, $body-font-family, $decoration: underline);
    }
  }

  .prev {
    position: absolute;
    left: 0;

    &:before {
      content: "« ";
    }
  }

  .next {
    position: absolute;
    right: 0;

    &:after {
      content: " »";
    }
  }

  .archive {
    margin: 0 auto;
    text-align: center;
    width: 200px;
  }
}

.post-date {
  @include font($gray-cement, 18px, $header-font-family);
}
