.box-model-reset, body, html, ul, ol, dl, li, dt, dd, h1, h2, h3, h4,
h5, h6, pre, form, p, blockquote, fieldset, input {
  margin: 0;
  border: 0;
  padding: 0; }

.clearfix:after, #main:after, .columns:after, section:after, nav:after, article:after, aside:after, hgroup:after, header:after, footer:after, address:after {
  display: block;
  height: 0;
  content: '';
  clear: both; }

.clickable {
  cursor: pointer; }

.unclickable {
  cursor: default; }

.fake-collapse > :first-child, .columns .primary > :first-child, .columns .secondary > :first-child, .highlight > :first-child, aside > :first-child, .fake-collapse > :first-child > :first-child, .columns .primary > :first-child > :first-child, .columns .secondary > :first-child > :first-child, .highlight > :first-child > :first-child, aside > :first-child > :first-child {
  margin-top: 0; }
.fake-collapse > :last-child, .columns .primary > :last-child, .columns .secondary > :last-child, .highlight > :last-child, aside > :last-child, .fake-collapse > :last-child > :last-child, .columns .primary > :last-child > :last-child, .columns .secondary > :last-child > :last-child, .highlight > :last-child > :last-child, aside > :last-child > :last-child {
  margin-bottom: 0; }

.hide {
  position: absolute;
  left: -999999px; }

.hide-text, #header #logo {
  text-indent: -999999px; }

.no-content {
  content: '\00A0';
  width: 0;
  height: 0; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

a img {
  border: none; }

.one-line, #main, .highlight, p, pre, blockquote, ol, ul, dl, h1, h2, h3, h4, h5, h6, hgroup {
  margin-top: 20px;
  margin-bottom: 20px; }

.two-line, section, nav, article, header, footer, address {
  margin-top: 40px;
  margin-bottom: 40px; }

.full-width, #container, #header, #main, #footer {
  width: 820px; }

@font-face {
  font-family: 'Fontin Sans';
  src: url("/fonts/Fontin-Sans-Bold.eot");
  src: url("/fonts/Fontin-Sans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Fontin-Sans-Bold.woff") format("woff"), url("/fonts/Fontin-Sans-Bold.ttf") format("truetype"), url("/fonts/Fontin-Sans-Bold.svg#FontinSansBold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Fontin Sans';
  src: url("/fonts/Fontin-Sans-Bold.eot");
  src: url("/fonts/Fontin-Sans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Fontin-Sans-Bold.woff") format("woff"), url("/fonts/Fontin-Sans-Bold.ttf") format("truetype"), url("/fonts/Fontin-Sans-Bold.svg#FontinSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo 500';
  src: url("/fonts/Museo-500.eot");
  src: url("/fonts/Museo-500.eot?#iefix") format("embedded-opentype"), url("/fonts/Museo-500.woff") format("woff"), url("/fonts/Museo-500.ttf") format("truetype"), url("/fonts/Museo-500.svg#webfontPbjNkd07") format("svg");
  font-weight: normal;
  font-style: normal; }

.strong-font, .h1-type, .post h2 a, h1, .blurb-type, #blurb p {
  font-family: 'Fontin Sans', serif;
  font-weight: bold; }

.emphasized-font, .h2-type, h2, .h3-type, h3, .h4-type, h4, h5, h6, .nav-type, #header li a {
  font-family: 'Fontin Sans', serif;
  font-weight: bold; }

.body-font, .body-type, html, .link-type, a, .note-type, small {
  font-family: 'Museo 500', sans-serif;
  font-weight: normal; }

.pre-font, .pre-type {
  font-family: monospace;
  font-weight: normal; }

.h1-type, .post h2 a, h1 {
  font-size: 32px;
  line-height: 40px;
  color: white;
  text-decoration: none;
  text-shadow: none; }

.h2-type, h2 {
  font-size: 24px;
  line-height: 40px;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 0 black; }

.h3-type, h3 {
  font-size: 18px;
  line-height: 20px;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 0 black; }

.h4-type, h4, h5, h6 {
  font-size: 14px;
  line-height: 20px;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 0 black; }

.body-type, html {
  font-size: 12px;
  line-height: 20px;
  color: white;
  text-decoration: none;
  text-shadow: none; }

.link-type, a {
  font-size: 12px;
  line-height: 20px;
  color: white;
  text-decoration: underline;
  text-shadow: none; }

.note-type, small {
  font-size: 10px;
  line-height: 20px;
  color: white;
  text-decoration: none;
  text-shadow: none; }

.pre-type {
  font-size: 12px;
  line-height: 20px;
  color: white;
  text-decoration: none;
  text-shadow: none; }

.blurb-type, #blurb p {
  font-size: 48px;
  line-height: 60px;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 0 black; }

.nav-type, #header li a {
  font-size: 14px;
  line-height: 20px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 0 black; }

#header-background {
  position: absolute;
  width: 100%;
  height: 112px;
  background: url(/images/header-background.png) repeat-x top center; }

#container {
  margin: 0 auto; }

#header {
  margin-top: 0; }
  #header #logo {
    display: block;
    float: left;
    width: 203px;
    height: 60px;
    background: url(/images/logo.png) no-repeat center center; }
  #header nav {
    float: right;
    margin: 0; }
  #header ul {
    margin: 0;
    list-style-type: none; }
  #header li {
    float: left; }
    #header li a {
      display: block;
      padding: 20px 20px; }
    #header li a:hover, #header li a:focus, #header li.current a {
      background: rgba(30, 30, 32, 0.4); }

#main {
  position: relative; }

#footer {
  text-align: center; }

#blurb {
  padding-bottom: 60px;
  background: url(/images/rule.png) no-repeat bottom center; }
  #blurb p {
    width: 560px;
    margin: 0;
    padding: 40px 0;
    text-align: center; }
  #blurb figure {
    margin: 0; }
  #blurb img {
    float: right;
    width: 240px;
    height: 180px;
    border-top: 10px solid rgba(0, 0, 0, 0.5);
    border-right: 10px solid rgba(0, 0, 0, 0.5);
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
    border-left: 10px solid rgba(0, 0, 0, 0.5); }

.columns .primary {
  float: left;
  width: 540px;
  margin: 0; }
.columns .secondary {
  float: right;
  width: 260px;
  margin: 0; }

.icon, .person-icon, .mail-icon, .gear-icon, .bubbles-icon {
  background: no-repeat center left;
  padding-left: 40px; }

.person-icon {
  background-image: url(/images/person-icon.png); }

.mail-icon {
  background-image: url(/images/mail-icon.png); }

.gear-icon {
  background-image: url(/images/gear-icon.png); }

.bubbles-icon {
  background-image: url(/images/bubbles-icon.png); }

.work-example figure {
  margin: 0; }
.work-example img {
  float: left;
  width: 520px;
  height: 320px;
  border-top: 10px solid rgba(0, 0, 0, 0.5);
  border-right: 10px solid rgba(0, 0, 0, 0.5);
  border-bottom: 10px solid rgba(0, 0, 0, 0.5);
  border-left: 10px solid rgba(0, 0, 0, 0.5); }

.post > header {
  padding-bottom: 60px;
  background: url(/images/rule.png) no-repeat bottom center; }
.post h2 {
  margin-bottom: 0; }
.post #dsq-content {
  margin-top: 40px;
  padding-top: 60px;
  background: url(/images/rule.png) no-repeat top center; }
.post + .post {
  padding-top: 60px;
  background: url(/images/rule.png) no-repeat top center; }

.highlight {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box !important;
  position: relative;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.1); }

/* This Pygments theme is heavily based off jkreeftmeijer's theme. */
/* You can find him over at http://jeffkreeftmeijer.com. */
.highlight .c {
  color: #BC9458;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .k {
  color: #CC7833; }

.highlight .o {
  color: #FFFFFF; }

.highlight .cm {
  color: #BC9458;
  font-style: italic; }

.highlight .cp {
  color: #BC9458;
  font-weight: italic; }

.highlight .c1 {
  color: #BC9458;
  font-style: italic; }

.highlight .cs {
  color: #BC9458;
  font-style: italic; }

.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

.highlight .ge {
  font-style: italic; }

.highlight .gr {
  color: #aa0000; }

.highlight .gh {
  color: #999999; }

.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

.highlight .go {
  color: #888888; }

.highlight .gp {
  color: #555555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaaaaa; }

.highlight .gt {
  color: #aa0000; }

.highlight .kc {
  color: #CC7833; }

.highlight .kd {
  color: #CC7833; }

.highlight .kp {
  color: #CC7833; }

.highlight .kr {
  color: #CC7833; }

.highlight .kt {
  color: #445588;
  font-weight: bold; }

.highlight .m {
  color: #009999; }

.highlight .s {
  color: #A5C261; }

.highlight .na {
  color: #e8bf68; }

.highlight .nb {
  color: #CC7833; }

.highlight .nc {
  color: #FFFFFF; }

.highlight .no {
  color: #ffffff; }

.highlight .ni {
  color: #800080; }

.highlight .ne {
  color: #990000;
  font-weight: bold; }

.highlight .nf {
  color: #FFC66D; }

.highlight .nn {
  color: #ffffff; }

.highlight .nt {
  color: #e8bf68; }

.highlight .nv {
  color: #008080; }

.highlight .ow {
  font-weight: bold; }

.highlight .w {
  color: #bbbbbb; }

.highlight .mf {
  color: #009999; }

.highlight .mh {
  color: #009999; }

.highlight .mi {
  color: #009999; }

.highlight .mo {
  color: #009999; }

.highlight .sb {
  color: #A5C261; }

.highlight .sc {
  color: #A5C261; }

.highlight .sd {
  color: #A5C261; }

.highlight .s2 {
  color: #A5C261; }

.highlight .se {
  color: #A5C261; }

.highlight .sh {
  color: #A5C261; }

.highlight .si {
  color: #A5C261; }

.highlight .sx {
  color: #A5C261; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #A5C261; }

.highlight .ss {
  color: #6D9CBE; }

.highlight .bp {
  color: #999999; }

.highlight .vc {
  color: #008080; }

.highlight .vg {
  color: #008080; }

.highlight .vi {
  color: #008080; }

.highlight .il {
  color: #009999; }

html {
  position: relative;
  background: #1e1e20 url(/images/background.png) repeat top center; }

ins {
  text-decoration: underline; }

del {
  text-decoration: line-through; }

img {
  display: block; }

iframe {
  display: block; }

embed {
  display: block; }

object {
  display: block; }

video {
  display: block; }

pre {
  white-space: pre-wrap; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: square;
  list-style-position: inside; }

section {
  position: relative; }

nav {
  position: relative; }

article {
  position: relative; }

aside {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box !important;
  position: relative;
  float: right;
  z-index: 1;
  margin: 0 0 20px 20px;
  width: 220px;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.1); }

hgroup {
  position: relative; }

header {
  position: relative; }

footer {
  position: relative; }

address {
  position: relative; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

s {
  text-decoration: line-through; }

i {
  font-style: italic; }

b {
  font-weight: bold; }
