$column-count: 12 !default;
$gutter-width: 20px !default;

@function columns($n) {
  @return $n / $column-count * 100%;
}

@mixin cell($columns, $gutters: none, $push: 0) {
  float: left;
  left: columns($push);
  position: relative;
  width: columns($columns);

  @if $gutters == both or $gutters == left {
    padding-left: $gutter-width;
  }

  @if $gutters == both or $gutters == right {
    padding-right: $gutter-width;
  }
}
