section.archive-link {
  margin: 20px 0;
  padding-top: 20px;
  border-top: 1px dotted color(gray-bone);
  text-align: center;

  a {
    @include font(archive-link);

    &:after {
      content: " \00BB";
    }
  }
}
