// Document
// --------

html {
  @include font(body);
}

// Headers
// -------

h1 {
  @include font(h1);
}

h2 {
  @include font(h2);
}

h3 {
  @include font(h3);
}

h4 {
  @include font(h4);
}

h5 {
}

h6 {
}

// Paragraphs
// ----------

p {
  margin-bottom: 20px;
}

// Times
// -----

time {
  @include font(time);
}

// Blockquotes
// -----------

blockquote {
  @include font(blockquote);
  margin-left: 40px;
}

// Code
// ----

pre,
code {
  @include font(code);
}

// Lists
// -----

ul,
ol,
dl {
  margin: 20px 0;
  list-style-position: inside;
}

dd {
  @include font(dd);
  margin: 10px 0 10px 20px;
}

// Images
// ------

img {
  @include border-radius(5px);
  max-width: 100%;
  height: auto;
  border: 5px solid color(gray-stone);
  float: left;
  margin: 0 20px 20px 0;
}
