// Document
// --------

html {
  @include font(body);
}

// Headers
// -------

h1 {
  @include font(h1);
}

h2 {
  @include font(h2);
}

h3 {
  @include font(h3);
}

h4 {
  @include font(h4);
}

h5 {
}

h6 {
}

// Paragraphs
// ----------

p {
  margin: 20px 0;
}

// Times
// -----

time {
  @include font(time);
}

// Blockquotes
// -----------

blockquote {
  @include font(blockquote);
  margin-left: 40px;
}

// Code
// ----

pre,
code {
  @include font(code);
}

// Lists
// -----

ul,
ol {
  margin: 20px 0;
  list-style-position: inside;
}
