body {
  height: 100%;
}

#container {
  @include grid;
  margin: 0 auto;
  min-height: 100%;
  padding-bottom: 60px;
}

#sidebar {
  @include cell(4, $push: 8);
}

#header {
  @include clearfix;
  padding-top: 20px;
  margin-bottom: 20px;

  @include respond-to(phone) {
    padding-top: 10px;
  }
}

#logo {
  @include font(logo);
  display: block;
  text-align: center;

  span {
    display: block;
    padding-top: 10px;

    @include respond-to(phone) {
      display: inline;
      padding-top: 0;
    }
  }
}

#profile {
  display: block;
  float: left;
  width: 100px;
  margin-bottom: 0;

  @include respond-to(phone) {
    display: inline;
    float: none;
    width: 40px;
    vertical-align: -5px;
    margin-right: 0;
  }
}

#social-links {
  background: url("/images/header-background.png") repeat-x 3px bottom;
  background-size: 50px 18px;
  padding-bottom: 50px;

  @include respond-to(large-desktop) {
    background-position: 1px bottom;
  }

  @include respond-to(tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
    background-position: 4px bottom;
  }

  @include respond-to(phone) {
    background-position: center bottom;
    padding: 10px 10000px 20px 10000px;
    margin-left: -10000px;
    margin-right: -10000px;
  }

  ul {
    margin: 0;
    display: table;
    width: 180px;

    @include respond-to(large-desktop) {
      width: 250px;
    }

    @include respond-to(tablet) {
      width: 228px;
    }
    
    @include respond-to(phone) {
      width: 100%;
    }
  }

  li {
    display: table-cell;
    list-style-type: none;
  }

  a {
    @include font(social-links);
    display: block;
    text-align: center;

    @include respond-to(phone) {
      padding: 0 2px;
    }
  }

  i {
    display: block;
  }
}

@include respond-to(phone) {
  #personal-information, #projects {
    display: none;
  }
}

#main {
  @include cell(8, $push: -4);
  margin-top: 20px;
}

#footer {
  @include clearfix;
  @include font(footer);
  background: color(gray-stone);
  text-align: center;
  padding: 10px 0;
  margin-top: -40px;

  p.copyright {
    display: inline;
    text-align: right;
  }
}

#footer-nav {
  display: inline;

  ul {
    display: inline;
    list-style-type: none;
    margin: 0;
  }

  li {
    display: inline;

    &:before {
      @include font(footer-separator);
      content: "• ";
    }
  }
}
