#container {
  height: 100%;

  &:before {
    content: "\00A0";
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    height: 99px;
    width: 100%;
    background: url("/images/header-background.png") repeat-x bottom center;
    background-size: 50px 18px;

    @include respond-to(phone) {
      height: 129px;
    }
  }

  & > div.wrapper {
    @include grid;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 60px;
  }
}

#header {
  @include clearfix;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  @include respond-to(phone) {
    padding-top: 0;
  }
}

#logo {
  @include font(logo);
  float: left;

  @include respond-to(phone) {
    float: none;
  }
}

#header-nav {
  @include clearfix;

  ul.site-sections {
    float: left;
    list-style-type: none;
    margin: 0 0 0 20px;

    li {
      float: left;
    }

    a {
      @include font(site-sections);
      display: block;
      padding: 20px;

      @include respond-to(phone) {
        padding: 10px 10px 10px 0;
      }
    }

    @include respond-to(phone) {
      margin: 0;
    }
  }

  ul.social-links {
    float: right;
    list-style-type: none;
    margin: 0;

    li {
      float: left;
    }

    a {
      @include font(social-links);
      display: block;
      padding: 10px;

      @include respond-to(phone) {
        padding: 0 2px;
      }
    }

    i {
      display: block;
    }
  }
}

#footer {
  @include clearfix;
  @include font(footer);
  background: color(gray-stone);
  text-align: center;
  padding: 10px 0;
  margin-top: -40px;

  p.copyright {
    display: inline;
    text-align: right;
  }
}

#footer-nav {
  display: inline;

  ul {
    display: inline;
    list-style-type: none;
    margin: 0;
  }

  li {
    display: inline;

    &:before {
      @include font(footer-separator);
      content: "• ";
    }
  }
}
