.container {
  @include grid;
  margin: 0 auto;
  min-height: 100%;
  padding: l(1) 0 l(3);
}

.sidebar { @include cell(4); }

.header {
  @include clearfix;
  text-align: center;
  padding-bottom: l(3);
  background: url("/images/header-background.png") repeat-x left 101px;
  background-size: 50px 18px;

  > a {
    > img {
      @include border-radius(5px);
      @include cell(3);
      border: 5px solid color(gray-stone);
    }

    > span {
      @include cell(9);
      @include font(blue-moon, 24px, header);
    }
  }
}

.social-links {
  @include cell(9);

  > li {
    @include cell(4);

    > a {
      display: block;
      @include font(green-leaf, 24px, font-awesome);
    }
  }
}

.personal-information {
  @include font(gray-stone, 12px, body);

  > p {
    margin-bottom: l(1);
    > em { @include font(green-leaf, 12px, body); }
    > a { @include font(blue-moon, 12px, body, $decoration: underline); }
  }
}

.project-list {
  > h3 {
    @include font(blue-moon, 24px, header);
    margin-bottom: l(1);
  }

  > dl {
    > dt { @include font(blue-moon, 12px, body, $decoration: underline); }
    > dd {
      @include font(gray-cement, 12px, body);
      margin: l(0.5) 0 l(0.5) 20px;
    }
  }
}

.main {
  @include cell(8, $gutters: both);

  h1 {
    @include font(blue-moon, 36px, header);
    margin-bottom: l(1);
  }
}

.footer {
  height: l(2);
  margin-top: l(-2);
  padding: l(0.5) 0;
  background: color(gray-stone);
  text-align: center;
}

.copyright {
  @include font(white, 10px, body);
  display: inline;
}

.footer-nav {
  display: inline;

  > li {
    display: inline;
    a { @include font(white, 10px, body, $decoration: underline); }

    &:before {
      @include font(blue-sky, 10px, body, bold);
      content: "\0A\B7\0A";
    }
  }
}
