ul.post-list {
  @include border-radius(5px);
  list-style-type: none;

  li {
    @include clearfix;
    padding: 5px 20px;
  }

  li:nth-child(even) {
    background: color(gray-light);
  }

  a {
    float: left;
  }

  time {
    display: block;
    float: right;
  }
}
