.strong-font {
  font-family: serif;
  font-weight: bold;
}

.emphasized-font {
  font-family: sans-serif;
  font-weight: bold;
}

.body-font {
  font-family: sans-serif;
  font-weight: normal;
}

.pre-font {
  font-family: monospace;
  font-weight: normal;
}