@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -webkit-background-clip: padding-box !important;
}

@mixin box-shadow($shadow) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin box-sizing($sizing) {
  -moz-box-sizing: $sizing;
  -webkit-box-sizing: $sizing;
  box-sizing: $sizing;
}

@mixin vertical-gradient($start, $end) {
  background-color: $start;
  background-image: -moz-linear-gradient(top, $start, $end);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $start), color-stop(1, $end));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', EndColorStr='#{$end}');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', EndColorStr='#{$end}')";
}

@mixin horizontal-gradient($start, $end) {
  background-color: $start;
  background-image: -moz-linear-gradient(left, $start, $end);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $start), color-stop(1, $end));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', endColorStr='#{$end}', gradientType=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', endColorStr='#{$end}', gradientType=1)";
}