<section class="about">
  <section class="personal-information">
    <img src="/images/profile.jpg" alt="Alex Kern sitting at a computer screen looking hipster." width="100" />

    <p>I’m <em>Alex Kern</em>, a software developer and computer science student at UC Berkeley. I taught myself to program in C at nine, Java at eleven, and Ruby at fourteen. I focus on building awesome software in Ruby and JavaScript.</p>

    <p>I’ve interned for <a href="http://www.jpl.nasa.gov/">NASA’s Jet Propulsion Laboratory</a>, working on the <a href="http://mars.jpl.nasa.gov/msl/">Mars Science Laboratory</a> and novel data storage techniques. Before attending Berkeley, I was the lead developer at Artcentric Networks, a Los Angeles web startup. I hack on quite a few open source projects, all of which can be found on <a href="https://github.com/CapnKernul">my GitHub</a>.</p>

    <p>Want to talk? You can find me on <a href="https://twitter.com/CapnKernul">Twitter</a> or <a href="mailto:alex@kernul.com">email me</a>. I respond pretty quickly. Interested in hiring me? Check out my <a href="/files/resume.html">HTML</a> or <a href="/files/resume.pdf">PDF resume</a>.</p>
  </section>

  <section class="projects">
    <h2>Projects</h2>
    <dl>
      <dt><a href="https://github.com/CapnKernul/minitest-reporters">minitest-reporters</a></dt>
      <dd>Create customizable MiniTest output formats.</dd>

      <dt><a href="https://github.com/CapnKernul/zeppelin">zeppelin</a></dt>
      <dd>Bare-bones Urban Airship library for Ruby.</dd>

      <dt><a href="https://github.com/CapnKernul/webbed">webbed</a></dt>
      <dd>Implements the HTTP specification in pure, idiomatic Ruby.</dd>
    </dl>
  </section>
</section>
