<article class="blog-preview">
  <header>
    <h1><a href="#">Announcing Keystone: An Scss toolkit</a></h1>
    <time pubdate><i class="icon-time"></i> January 1, 1970</time>
  </header>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt
    nisl suscipit justo congue tincidunt. Maecenas accumsan sodales orci in
    viverra. <strong>Sed</strong> auctor <em>odio</em> eu velit dignissim in
    consequat nulla elementum. Etiam in orci bibendum sapien molestie pulvinar
    ac sed elit. In placerat adipiscing feugiat. Nunc lacinia hendrerit lacus,
    at consectetur est vestibulum a. In <code>bibendum</code> blandit rhoncus. Cum sociis
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Morbi commodo elit ut libero fringilla a ultricies elit commodo. Vivamus
    ultricies pharetra est, ut commodo sapien consequat nec. Maecenas in
    consequat mi. Vestibulum condimentum est porta velit scelerisque rutrum.
    Integer sed felis in nulla dictum egestas et vitae felis. Suspendisse ac
    sapien libero, vitae euismod orci. Donec sed leo enim.
  </p>

  <blockquote>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt
    nisl suscipit justo congue tincidunt. Maecenas accumsan sodales orci in
    viverra. Sed auctor odio eu velit dignissim in consequat nulla elementum.
    Etiam in orci bibendum sapien molestie pulvinar ac sed elit. In placerat
    adipiscing feugiat. Nunc lacinia hendrerit lacus, at consectetur est
    vestibulum a. In bibendum blandit rhoncus. Cum sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Morbi commodo elit ut
    libero fringilla a ultricies elit commodo. Vivamus ultricies pharetra est,
    ut commodo sapien consequat nec. Maecenas in consequat mi. Vestibulum
    condimentum est porta velit scelerisque rutrum. Integer sed felis in nulla
    dictum egestas et vitae felis. Suspendisse ac sapien libero, vitae euismod
    orci. Donec sed leo enim.
  </blockquote>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt
    nisl suscipit justo congue tincidunt. Maecenas accumsan sodales orci in
    viverra. Sed auctor odio eu velit dignissim in consequat nulla elementum.
    Etiam in orci bibendum sapien molestie pulvinar ac sed elit. In placerat
    adipiscing feugiat. Nunc lacinia hendrerit lacus, at consectetur est
    vestibulum a. In bibendum blandit rhoncus. Cum sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Morbi commodo elit ut
    libero fringilla a ultricies elit commodo. Vivamus ultricies pharetra est,
    ut commodo sapien consequat nec. Maecenas in consequat mi. Vestibulum
    condimentum est porta velit scelerisque rutrum. Integer sed felis in nulla
    dictum egestas et vitae felis. Suspendisse ac sapien libero, vitae euismod
    orci. Donec sed leo enim.
  </p>
</article>
