<div class="grid">
  <div class="row">
    <div class="one">
      1
    </div>

    <div class="one">
      1
    </div>

    <div class="one">
      1
    </div>

    <div class="one">
      1
    </div>

    <div class="one">
      1
    </div>

    <div class="one">
      1
    </div>

    <div class="one">
      1
    </div>

    <div class="one">
      1
    </div>

    <div class="one">
      1
    </div>

    <div class="one">
      1
    </div>

    <div class="one">
      1
    </div>

    <div class="one">
      1
    </div>
  </div>

  <div class="row">
    <div class="two">
      2
    </div>

    <div class="two">
      2
    </div>

    <div class="two">
      2
    </div>

    <div class="two">
      2
    </div>

    <div class="two">
      2
    </div>

    <div class="two">
      2
    </div>
  </div>

  <div class="row">
    <div class="three">
      3
    </div>

    <div class="three">
      3
    </div>

    <div class="three">
      3
    </div>

    <div class="three">
      3
    </div>
  </div>

  <div class="row">
    <div class="four">
      4
    </div>

    <div class="four">
      4
    </div>

    <div class="four">
      4
    </div>
  </div>

  <div class="row">
    <div class="six">
      6
    </div>

    <div class="six">
      6
    </div>
  </div>

  <div class="row">
    <div class="twelve">
      12
    </div>
  </div>

  <div class="row">
    <div class="test1">
      1
    </div>

    <div class="test2">
      2
    </div>

    <div class="test3">
      3
    </div>
  </div>
</div>

<div class="grid">
  <div class="row">
    <div class="four">
      <div class="row">
        <div class="two">2</div>
        <div class="two">2</div>
      </div>
    </div>

    <div class="four">
      <div class="row">
        <div class="two">2</div>
        <div class="two">2</div>
      </div>
    </div>

    <div class="four">
      <div class="row">
        <div class="two">2</div>
        <div class="two">2</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="six">
      <div class="row">
        <div class="two">2</div>
        <div class="two">2</div>
        <div class="two">2</div>
      </div>
    </div>

    <div class="six">
      <div class="row">
        <div class="two">2</div>
        <div class="two">2</div>
        <div class="two">2</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve">
      <div class="row">
        <div class="two">2</div>
        <div class="two">2</div>
        <div class="two">2</div>
        <div class="two">2</div>
        <div class="two">2</div>
        <div class="two">2</div>
      </div>
    </div>
  </div>
</div>

<div class="grid">
  <div class="row">
    <div class="one expand-both">
      1
    </div>

    <div class="one expand-both">
      1
    </div>

    <div class="one expand-both">
      1
    </div>

    <div class="one expand-both">
      1
    </div>

    <div class="one expand-both">
      1
    </div>

    <div class="one expand-both">
      1
    </div>

    <div class="one expand-both">
      1
    </div>

    <div class="one expand-both">
      1
    </div>

    <div class="one expand-both">
      1
    </div>

    <div class="one expand-both">
      1
    </div>

    <div class="one expand-both">
      1
    </div>

    <div class="one expand-both">
      1
    </div>
  </div>

  <div class="row">
    <div class="two expand-both">
      2
    </div>

    <div class="two expand-both">
      2
    </div>

    <div class="two expand-both">
      2
    </div>

    <div class="two expand-both">
      2
    </div>

    <div class="two expand-both">
      2
    </div>

    <div class="two expand-both">
      2
    </div>
  </div>

  <div class="row">
    <div class="three expand-both">
      3
    </div>

    <div class="three expand-both">
      3
    </div>

    <div class="three expand-both">
      3
    </div>

    <div class="three expand-both">
      3
    </div>
  </div>

  <div class="row">
    <div class="four expand-both">
      4
    </div>

    <div class="four expand-both">
      4
    </div>

    <div class="four expand-both">
      4
    </div>
  </div>

  <div class="row">
    <div class="six expand-both">
      6
    </div>

    <div class="six expand-both">
      6
    </div>
  </div>

  <div class="row">
    <div class="twelve expand-both">
      12
    </div>
  </div>

  <div class="row">
    <div class="test1 expand-both">
      1
    </div>

    <div class="test2 expand-both">
      2
    </div>

    <div class="test3 expand-both">
      3
    </div>
  </div>
</div>

<div class="grid">
  <div class="row">
    <div class="four expand-both">
      <div class="row">
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
      </div>
    </div>

    <div class="four expand-both">
      <div class="row">
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
      </div>
    </div>

    <div class="four expand-both">
      <div class="row">
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="six expand-both">
      <div class="row">
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
      </div>
    </div>

    <div class="six expand-both">
      <div class="row">
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve expand-both">
      <div class="row">
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
        <div class="two expand-both">2</div>
      </div>
    </div>
  </div>
</div>
