<article class="post">
  <header>
    <h1><a href="/post/<%= post.permalink %>"><%= post.title %></a></h1>
    <time pubdate><i class="icon-time"></i> <%= post.date.strftime("%B %-d, %Y") %></time>
  </header>

  <%= post.rendered_body %>
</article>
