#header {
  @extend .full-width;
  display: table;
  
  #logo, nav {
    @extend .middle-table-cell;
    width: $column * 16;
  }
  
  #logo {
    @extend .hide-text;
    background: url(/images/logo.png) center center no-repeat;
  }
  
  nav {
    padding-left: $column;
    
    ul {
      list-style-type: none;
    }
    
    .current a {
      @extend .nav-current-type;
    }
    
    a {
      @extend .nav-type;
    }
    
    a:before {
      content: "\00BB\00A0";
    }
    
    .current a:before {
      color: $red;
    }
  }
}