---
layout: blog
---
<ul class="posts">
  <li>
    <header>
      <div class="calendar">
        <span class="day">{{ page.date | date: "%d" }}</span>
        <span class="month">{{ page.date | date: "%b" | upcase }}</span>
      </div>
      <div class="name">
        <h1 class="title"><a href="{{ post.url }}">{{ page.title }}</a></h1>
        <span class="description">{{ page.description }}</span>
      </div>
    </header>
    <div class="post">
      {{ content }}
    </div>
  </li>
</ul>