.body-type {
  @include font-size(12px);
  @extend .body-font;
  color: $white;
  text-decoration: none;
}

.link-type {
  @include font-size(12px);
  @extend .body-font;
  color: $white;
  text-decoration: underline;
}

.nav-type {
  @include font-size(12px);
  @extend .body-font;
  color: $white;
  text-decoration: none;
  text-shadow: 2px 2px 0 $black;
  text-transform: uppercase;
}

.nav-current-type {
  @include font-size(12px);
  @extend .body-font;
  color: $beige;
  text-decoration: none;
  text-shadow: 2px 2px 0 $black;
  text-transform: uppercase;
}

.note-type {
  @include font-size(10px);
  @extend .body-font;
  color: $white;
  text-decoration: none;
}

.description-type {
  @include font-size(12px);
  @extend .body-font;
  color: $black;
  text-decoration: none;
}

.description-header-type {
  @include font-size(12px);
  @extend .strong-font;
  color: $black;
  text-decoration: none;
}

.description-note-type {
  @include font-size(10px);
  @extend .body-font;
  color: $black;
  text-decoration: none;
}

.description-link-type {
  @include font-size(12px);
  @extend .body-font;
  color: $black;
  text-decoration: underline;
}

.h1-type {
  @include font-size(24px);
  @extend .strong-font;
  color: $white;
  text-decoration: none;
}

.h2-type {
  @include font-size(18px);
  @extend .strong-font;
  color: $white;
  text-decoration: none;
}

.h3-type {
  @include font-size(12px);
  @extend .strong-font;
  color: $white;
  text-decoration: none;
}