form {
  
}

fieldset {
  
}

legend {
  
}

label {
  
}

input {
  
}

button {
  
}

select {
  
}

datalist {
  
}

optgroup {
  
}

option {
  
}

textarea {
  
}

keygen {
  
}

output {
  
}

progress {
  
}

meter {
  
}