p {
  @extend .one-line;
}

hr {
  
}

pre {
  @extend .one-line;
  white-space: pre-wrap;
}

blockquote {
  @extend .one-line;
}

ol {
  @extend .one-line;
  list-style: decimal inside;
}

ul {
  @extend .one-line;
  list-style: square inside;
}

li {
  
}

dl {
  @extend .one-line;
}

dt {
  
}

dd {
  
}

figure {
  @include box-shadow(2px 2px 0 $black);
  position: relative;
  float: right;
  margin: 0 0 $line-height $column;
  
  img {
    display: block;
  }
}

figcaption {
  @extend .nav-type;
  position: absolute;
  bottom: $line-height;
  left: $column;
}