header {
  @extend .one-line;
  position: relative;
}

section {
  @extend .one-line;
  position: relative;
  
  &.column {
    @extend .table-cell;
    @extend .fake-collapse;
    width: $column * 16;
  }
  
  &.column + &.column {
    padding-left: $column;
  }
}

nav {
  @extend .one-line;
  position: relative;
}

article {
  @extend .one-line;
  position: relative;
}

aside {
  @extend .one-line;
  position: relative;
}

h1 {
  @extend .one-line;
  @extend .h1-type;
}

h2 {
  @extend .one-line;
  @extend .h2-type;
}

h3 {
  @extend .one-line;
  @extend .h3-type;
}

h4 {
  @extend .one-line;
  @extend .h3-type;
}

h5 {
  @extend .one-line;
  @extend .h3-type;
}

h6 {
  @extend .one-line;
  @extend .h3-type;
}

hgroup {
  @extend .one-line;
  position: relative;
}

header {
  @extend .one-line;
  position: relative;
}

footer {
  @extend .one-line;
  position: relative;
}

address {
  @extend .one-line;
  position: relative;
}