img {
  display: block;
}

iframe {
  display: block;
}

embed {
  display: block;
}

object {
  display: block;
}

param {
  
}

video {
  display: block;
}

audio {
  
}

source {
  
}

track {
  
}

canvas {
  
}

map {
  
}

area {
  
}