a {
  @extend .link-type;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  @extend .note-type;
}

s {
  text-decoration: line-through;
}

cite {
  
}

q {
  
}

dfn {
  
}

abbr {
  
}

time {
  
}

code {
  
}

var {
  
}

samp {
  
}

kbd {
  
}

sub {
  
}

sup {
  
}

i {
  font-style: italic;
}

b {
  color: $red;
  font-weight: normal;
}

mark {
  @extend b;
}

ruby {
  
}

rt {
  
}

rp {
  
}

bdi {
  
}

bdo {
  
}

br {
  
}

wbr {
  
}