@font-face {
    font-family: 'Fontin Sans';
    src: url('/fonts/Fontin-Sans-Bold.eot');
    src: url('/fonts/Fontin-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Fontin-Sans-Bold.woff') format('woff'),
         url('/fonts/Fontin-Sans-Bold.ttf') format('truetype'),
         url('/fonts/Fontin-Sans-Bold.svg#FontinSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fontin Sans';
    src: url('/fonts/Fontin-Sans-Bold.eot');
    src: url('/fonts/Fontin-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Fontin-Sans-Bold.woff') format('woff'),
         url('/fonts/Fontin-Sans-Bold.ttf') format('truetype'),
         url('/fonts/Fontin-Sans-Bold.svg#FontinSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo 500';
    src: url('/fonts/Museo-500.eot');
    src: url('/fonts/Museo-500.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Museo-500.woff') format('woff'),
         url('/fonts/Museo-500.ttf') format('truetype'),
         url('/fonts/Museo-500.svg#webfontPbjNkd07') format('svg');
    font-weight: normal;
    font-style: normal;
}

.strong-font {
  font-family: 'Fontin Sans', serif;
  font-weight: bold;
}

.emphasized-font {
  font-family: 'Fontin Sans', serif;
  font-weight: bold;
}

.body-font {
  font-family: 'Museo 500', sans-serif;
  font-weight: normal;
}

.pre-font {
  font-family: monospace;
  font-weight: normal;
}